{% extends 'base.html' %}
{% block content %}

<!-- PAGE TITLE
    ================================================== -->
    <header class="py-8 py-md-11" style="background-image: none;">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">تحديث الملف الشخصي</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                    <li class="breadcrumb-item">
                        <a class="text-gray-800" href="{% url 'home' %}">
                            الرئيسية
                        </a>
                    </li>
                    <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                        تحديث الملف الشخصي
                    </li>
                </ol>
            </nav>
        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="...html" alt="...">
    </header>
    
    <!-- Card -->
            <div class="card" style="width:80%;margin-left:10%;">
            {% include 'components/msg.html' %}
              <div class="card-body" >
                <form  method="post" action={% url 'profile_update' %}>
                {% csrf_token %}
                  <div class="row">
                        <div class="col">
                            <div class="form-group mb-4">
                              <label>الاسم</label>
                             <input type="text" class="form-control"  placeholder="أدخل الاسم " name="first_name" value="{{user.first_name}}">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-4">
                              <label>اللقب</label>
                              <input type="text" class="form-control" placeholder="أدخل اللقب" name="last_name" value="{{user.last_name}}">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                             <div class="form-group mb-4">
                                <label>البريد الالكتروني</label>
                                <input type="email" class="form-control" placeholder="أدخل البريد الالكتروني" name="email" value="{{user.email}}">
                             </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-4">
                               <label>اسم المستخدم</label>
                               <input type="text" class="form-control" placeholder="أدخل اسم المستخدم" name="username" value="{{user.username}}">
                            </div>
                        </div>
                      <div class="col-12">
                            <div class="form-group mb-4">
                               <label>كلمة السر</label>
                               <input type="password" class="form-control" placeholder="أدخل كلمة السر" name="password">
                            </div>
                        </div>
                  </div>
                  <button type="submit" class="btn btn-primary">تحديث </button>
                </form>

              </div>
            </div>
{% endblock %}